.p {
    height: 100px;
    width: 100px;
    margin: 5px;
}

.container {
    display: flex;
     /* flex-direction: column; */
    flex-wrap: wrap;
    /* align-content: flex-end; */
    align-content: space-around;
     /* flex-flow: column wrap; */
    height: 500px;
 /* justify-content: space-evenly ; */
 /* align-items: baseline; */
}

.p1 {
     /* align-self: flex-end; */
     /* flex: flex grow, flex shrink, basis; */
     /* flex: 1 0 0; */
}

.p2 {
/* order: -1; */
/* flex: 2; */
}

.p3 {

}