* {
    
}
html {
    margin: 0;
}
body {
    margin: 0;
}
nav {
    background-color: rgb(6, 6, 54);
    margin: 0;
    padding: 10px;
}

i {
    color: white;
    font-size: 40px;
 }

a {
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-weight: bold;
    float: right;
    display: block;
    text-align: center;
    padding: 10px;
}

footer {
    background-color: rgb(6, 6, 54);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px; 
    display: inline;
}

p { 
    color: white;
    font-size: 15px;
    width: fit-content;
}

.sm {
    float: right;
    margin-right: 30px;
}

.shop {
    margin-bottom: 60px;
    width: 1000px;
    margin-left: 140px;
    margin-right: 140px;


}



.row1, .row2, .row3 {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 20px;
    padding-right: 20px;
   
}

.card {
    display: inline-block;
    margin: 10px;
    position: relative;
 }

.product {
    color: black;
    width: 100px;
    height: fit-content;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    position: relative;
}

.price {
    color: green;
    width: 100px;
    height: fit-content;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

span {
    color: grey;
    text-decoration: line-through;
    font-size: 0.5rem;
    
}
.add {
    color: grey;
    border: 3px solid grey;
    width: 100px;
    height: fit-content;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 100px;

}



.new {
    border-radius: 1000px;
    width: 40px;
    background-color: blue;
    size: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    display: block;
    position: absolute;
    margin-left: 10px;
}

.sale {
    border-radius: 1000px;
    width: 40px;
    background-color: brown;
    size: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    display: block;
    position: absolute;
    /* margin-left: 130px; */
    right: 1px;


}
