html {
    margin: none;
}

body {
    background-image: url(bgpic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
* {
    border: 1px solid white;
}
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
    background-color: black;
    padding: 1vw;
    
}


.nav {
    display: flex;

}

a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

img {
    width: 70px;
    height: 70px;
    margin-left: 3vw;
}

li {
    padding: 5px;
    margin-right: 8px;
    text-transform: uppercase;
}

.thor {
    width: 50%;
    margin-top: 15%;
    margin-bottom: 3%;
    margin-left: 3vw;
    color: white;    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgb(86, 30, 102);
    color: white;
    text-align: left;
  }

  .back {
    padding: 5px;
    margin-left: 3vw;
  }